
body {
    background-color: rgb(245, 250, 250);
   
}
.search {
    background-color: rgba(49, 2, 59, 0.856);
    text-align: center;
    color: white;
    font-weight: bolder;
}

.inputaddr {
    display: block;
    width: 80%;
    max-width: 700px;
    height: 50px;
    margin: 0 auto;
    border-width: 0px 0px 2px 0px;
    border-color: #fff;
    border-style: solid;
    padding-left: 30px;
    font-size: 30px;
    font-weight: lighter;
    color: #fff;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: left center;
    background-color: none;
    outline: none;
}

.buttonS {
    height: auto;
    width: auto;
    background-color: rgb(28, 104, 192);
    font-size: x-large;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: 10px;
    margin : 0 auto;
    border: 3px solid black;
    margin-top: 3vh;
    margin-bottom: 6vh;
}

