.background {
    background-color: #accffe;
    height: 100%;
    font-family: "Muli-SemiBold";
}

.container{
    
    display: inline-block;
    background-color: white;
    margin-top: 50px;
    border-radius: 20px;
    max-width: 700px;
    margin-left: 30%;
    align-items: center;
   
}

.buttonn {
    width: 30%;
    background-color: black;
    padding: 10px 10px;
    font-size: larger;
    color: white;
    margin-bottom: 10px;
    margin-left: 30%;
}
