.background {
  background-color: #accffe;
  min-height: 100vh;
  height: 100%;
}

.map {
    height: 500px;
    width: 100%;    
}

.box {
    margin: 20px;
  }
  
.grid {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
.grid > div {
    flex-basis: calc(50% - 40px);
  }

.buttonStyle {
    display: block;
    height: auto;
    width: auto;
    background-color: black;
    font-size: x-large;
    font-weight: 600;
    padding: 10px 10px;
    color: white;
    margin: auto;
}