.logform {
    margin-left: auto;
    display: inline-block;
    padding: 2% 5%;
    background-color: white;
    text-align: left;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
}



.buttonn {
    width: 100%;
    background-color: black;
    padding: 10px 10px;
    font-size: larger;
    cursor:'pointer';
}

.formcontrol {
    border: none;
    border-bottom: 1px solid #b9b8b8;
    display: block;
    width: 100%;
    height: 38px;
    background: none;
    padding: 7px 0px 0px;
    color: #666;
    font-family: "Muli-SemiBold";
    font-size: 20px;
}

@media screen and (max-width: 800px) {
    .background {
        background: none;
        background: white;
    }
}