body {
    background-color: honeydew;
}

.regform {
    margin-top: 4%;
    margin-left: auto;
    display: inline-block;
    padding: 2% 5%;
    background-color: white;
    text-align: left;
    width: 100%;
    max-width: 500px;
}


label {
    font-weight: bold;
}

.buttonnx {
    width: 100%;
    background-color: black;
    padding: 10px 10px;
    font-size: larger;
    color: white;

}