.background {
    background-color: #accffe;
    height: 100vh;
}

.regform {
    margin-top: 4%;
    margin-left: auto;
    display: inline-block;
    padding: 4% 5%;
    background-color: white;
    text-align: left;
    width: 100%;
    max-width: 500px;
}


label {
    font-weight: bold;
}

.buttonnx {
    width: 100%;
    background-color: black;
    padding: 7px 7px;
    font-size: larger;
    color: white;
    margin-top: 30px;
    font-family: "Muli-SemiBold";
}

.formcontrol {
    border: none;
    border-bottom: 1px solid #b9b8b8;
    display: block;
    width: 100%;
    height: 38px;
    background: none;
    padding: 7px 0px 0px;
    color: #666;
    font-family: "Muli-SemiBold";
    font-size: 20px;
}

@media screen and (max-width: 800px) {
    .background {
        background: none;
        background-color: white;
        min-height: 100vh;
        height: 100%;
    }
}