body, html {
    height: 100%;
    margin: 0;
}

.homepage {
    background-image: url('https://images.unsplash.com/photo-1573348722427-f1d6819fdf98?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTF8fHBhcmtpbmd8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&w=1000&q=80');

    /* Full height */
    height: 100vh; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.font {
    color: whitesmoke;
    margin-top: 12%;
    margin-left: 10%;
    font-style: oblique;
}